@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --blue-neon: #11ffee;
  --pink-neon: #ff1199;
  --old-gen-green: #48f9c6;
}

@layer base {
  .center {
    max-width: 64rem;
    margin: 0 auto;
  }

  .smoky-text-shadow-blue {
    text-shadow: 0 2px 1px var(--blue-neon);
  }

  .smoky-text-shadow-pink {
    text-shadow: 0 2px 1px var(--pink-neon);
  }

  .glitched-text-shadow-blue {
    text-shadow: 0 0 2px #ffffff, -4px 2px 0 var(--blue-neon);
  }

  .glitched-text-shadow-pink {
    text-shadow: 0 0 2px #ffffff, -4px 2px 0 var(--pink-neon);
  }

  .glitched-box-shadow-blue {
    box-shadow: 8px 5px 5px var(--blue-neon);
  }

  .glitched-box-shadow-pink {
    box-shadow: 8px 5px 5px var(--pink-neon);
  }
}

@layer components {
  .smoky-blue-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    @apply smoky-text-shadow-blue orbitron;
  }

  .smoky-pink-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    @apply smoky-text-shadow-pink orbitron;
  }

  .glitched-blue-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    @apply glitched-text-shadow-blue orbitron;
  }

  .glitched-pink-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    @apply glitched-text-shadow-pink orbitron;
  }

  .glitched-blue-shadow {
    border: 1px solid #ffffff;
    @apply glitched-box-shadow-blue;
  }

  .glitched-pink-shadow {
    border: 1px solid rgba(255, 255, 255, 0.1);
    @apply glitched-box-shadow-pink;
  }
}

@layer utilities {
  .quicksand {
    font-family: "Quicksand", sans-serif;
  }

  .orbitron {
    font-family: "Orbitron", sans-serif;
  }

  .dancing-sprint {
    font-family: "Dancing Script", cursive;
  }

  .press-start {
    font-family: "Press Start 2P", cursive;
  }

  .neon-background-image {
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    );
  }

  .neon-sign {
    text-shadow: 0 0 5px var(--old-gen-green), 0 0 15px var(--old-gen-green),
      0 0 20px var(--old-gen-green), 0 0 40px var(--old-gen-green),
      0 0 60px #ff0000, 0 0 10px var(--old-gen-green), 0 0 98px #ff0000;
    color: var(--old-gen-green);
    font-family: "Dancing Script", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }

  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px var(--old-gen-green), 0 0 15px var(--old-gen-green),
        0 0 20px var(--old-gen-green), 0 0 40px var(--old-gen-green),
        0 0 60px #ff0000, 0 0 10px var(--old-gen-green), 0 0 98px #ff0000;
      color: var(--old-gen-green);
    }
  }

  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px var(--old-gen-green), 0 0 15px var(--old-gen-green),
        0 0 20px var(--old-gen-green), 0 0 40px var(--old-gen-green),
        0 0 60px #ff0000, 0 0 10px var(--old-gen-green), 0 0 98px #ff0000;
      color: var(--old-gen-green);
    }
  }
}
